<footer>
  <div class="footer-container">
    <div class="footer-logo">
      <img src="/static/images/logo.png" alt="Your Logo" />
    </div>
    <div class="footer-text">
      <p>&copy; 2023 Mirza Awais</p>
      <p>1234 Main Street, Anytown USA</p>
    </div>
    <div class="footer-social">
      <ul>
        <li>
          <a href="#"><i class="fab fa-facebook"></i></a>
        </li>
        <li>
          <a href="#"><i class="fab fa-twitter"></i></a>
        </li>
        <li>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
